
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<h3>@ViewBag.Name</h3>

<input type="button" value="Go Back" onclick="location.href='@Url.Action("Index", "Customer")'" />



