
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table-bordered table-hover">

    <tr>

        <td><a href="~/Customer/Details/1">John Smith</a></td>
    </tr>
    <tr>

        <td><a href="~/Customer/Details/2">Mary Williams</a></td>
    </tr>
</table>

