﻿@*@model IEnumerable<Vidly.Models.Movie>*@
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<table id="movies" class="table table-bordered table-hover">
    
    <thead>
        
        <tr>
            
            <th>Movies</th>
            <th>Genre</th>
            
        </tr>
        
    </thead>
    <tbody>
               @*@foreach (var movie in Model)
                  {
                      <tr>
                          <td>@Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, null)</td>
                          <td> @movie.Genre.Name</td>
                      </tr>
                  }*@
       
    </tbody>
   
</table>

<br />

<br />
@*<a href="@Url.Action("New","Movies")">Add</a>*@

@*<select id="ddl1">
    @foreach (var movie in Model)
    {
        <option>@movie.Name</option>
    }
</select>*@

@section scripts{
    
    <script>
        $(document).ready(function () {

            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"                        

                    },
                    {
                        data: "genre.name"
                    }
                ]
            });
                  

        });      


    </script>
    

    }



