﻿@*@model IEnumerable<Vidly.Models.Movie>*@
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<table id="movies" class="table table-bordered table-hover">
    
    <thead>
        
        <tr>
            
            <th>Movies</th>
            <th>Genre</th>
            <th>Delete</th>
            
        </tr>
        
    </thead>
    <tbody>
               @*@foreach (var movie in Model)
                  {
                      <tr>
                          <td>@Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, null)</td>
                          <td> @movie.Genre.Name</td>
                      </tr>
                  }*@
       
    </tbody>
   
</table>

<br />

<br />
<a href="@Url.Action("New","Movies")">Add</a>

@*<select id="ddl1">
    @foreach (var movie in Model)
    {
        <option>@movie.Name</option>
    }
</select>*@

@section scripts{
    
    <script>
        $(document).ready(function () {

            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movie) {
                            return "<a href='/movies/edit/" + movie.id + "'>" + movie.name + "</a>";
                        }

                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-movie-id='" + data + "'>Delete</button>";
                        }
                    }
                ]
            });



            $("#movies").on("click", ".js-delete", function () {
                var btn = $(this);
                bootbox.confirm("Are you sure?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/movies/" + btn.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(btn.parents("tr")).remove().draw(); // this will delete the datatable from the internal datatable table
                            }

                        });
                        //console.log("ok i will delete... movie with id : " + btn.attr("data-movie-id"));
                    }
                });
            });

        });      


    </script>
    

    }



