﻿@model Vidly.ViewModels.MovieFormViewModel

@{
    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (@Html.BeginForm("Save", "Movies"))
{

    @Html.ValidationSummary(true, "Please fix the following error(s).")
    <div class="form-group">

        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)

    </div>
    <div class="form-group">

        <label for="Movie_ReleaseDate">Release date</label>
        @Html.TextBoxFor(m => m.ReleaseDate, "{0:d MMMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ReleaseDate)

    </div>
    <div class="form-group">

        <label for="Movie_DateAdded">Date added</label>
        @Html.TextBoxFor(m => m.DateAdded, "{0:d MMMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.DateAdded)
    </div>
    <div class="form-group">

        <label for="Movie_NumberInStock">Number in stock</label>
        @Html.TextBoxFor(m => m.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.NumberInStock)
    </div>
    <div class="form-group">

        <label for="Genres">Genre</label>
        @Html.DropDownListFor(m=>m.GenreId, new SelectList(Model.Genres,"Id","Name"),"Select a genre", new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.GenreId)
    </div>
    @Html.HiddenFor(m => m.Id)

    @Html.ActionLink("Back", "Index", "Movies")
    @Html.AntiForgeryToken(); // <<<-- TO PREVENT CSRF ATTACKS!

    @:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" class="=btn btn-primary"> Save </button>

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}