
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Movies</h2>

<table class="table-bordered table-hover">

    <tr>

        <td>Shrek</td>
    </tr>
    <tr>

        <td>Wall-e</td>
    </tr>
</table>