
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table>

    <tr>

        <td><a href="~/Views/Customer/Details.cshtml">John Smith</a></td>
    </tr>
    <tr>

        <td><a href="~/Views/Customer/Details.cshtml">Mary Williams</a></td>
    </tr>
</table>

