﻿@model Vidly.ViewModels.CustomerFormViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>

@* begin form simly will open up the form tag.. how do we get the closing form tag?... put the beginForm in a using.. 
    at the end of the using block the .dispose will be called and the dispose function will add in the closing form tag.*@
@using(@Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary(true,"Please fix the following error(s).")
    <div class="form-group">

        @Html.LabelFor(m=>m.Customer.Name)
        @Html.TextBoxFor(m=>m.Customer.Name,new { @class="form-control"})
        @Html.ValidationMessageFor(m=>m.Customer.Name)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select a membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>
    <div class="form-group">

        @*@Html.LabelFor(m => m.birthDate)*@
        <label for="Customer_birthDate">Date of Birth</label>
        @Html.TextBoxFor(m => m.Customer.birthDate,"{0:d MMMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.Customer.birthDate)

    </div>
    @*<div class="form-group">

        @Html.LabelFor(m => m.IsSubscribedToNewsLetter)
        @Html.CheckBoxFor(m => m.IsSubscribedToNewsLetter, new { @class = "form-control" })

    </div>*@
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter) Subscribed to Newsletter?
        </label>
    </div>
    @Html.HiddenFor(m=>m.Customer.Id)
    @Html.AntiForgeryToken(); // <<<-- TO PREVENT CSRF ATTACKS!


    @Html.ActionLink("Back", "Index", "Customers")

    @:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <button type="submit"  class="=btn btn-primary"> Save </button>
}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

@* its possible to have more than one form in MVC!! *@
@*@using (@Html.BeginForm("test", "Customers"))
    {
        <button type="submit" class="=btn btn-primary"> Save TEST </button>
    }

    dropdownlist vs . dropdownlistFor!
        <br /><br />
        <div class="form-group">
            @Html.LabelFor(m => m.Customer.MembershipTypeId)
            @Html.DropDownList("ddl1",new SelectList(Model.MembershipTypes.ToList(),"Id", "Name", Model.Customer.MembershipTypeId),"select one", new { @class = "form-control" })

        </div>

*@
