﻿
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

@model Vidly.Models.Customer

@Model.Name
<br />
<ul>
   
    <li>Membership Type: @Model.MembershipType.Name</li>
      @if  (Model.birthDate.HasValue)
           {
               <li> Birthdate: @Model.birthDate.Value.ToShortDateString() </li>
              }
   
</ul>


@*<br /> below commented out stuff is for learning purpose only!
movie name is : @ViewBag.movieName

<br /><br />


<table border="1" cellpadding="5">
    <thead>
        <tr>
            @foreach (System.Data.DataColumn col in @ViewBag.table.Columns)
            {
                <th style="border:1px solid black;padding:5px;">@col.Caption</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in @ViewBag.table.Rows)
        {
            <tr>
                @foreach (var cell in row.ItemArray)
                {
                    <td style="border:1px solid black;padding:5px;">@cell.ToString()</td>
                }
            </tr>
        }
    </tbody>
</table>

<style>
    table {
        border-collapse: collapse;
    }

    table, tr {
        border: 1px solid black;
    }
</style>*@

