﻿@* @model List<Vidly.Models.Customer>*@
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1>@ViewBag.Title</h1>

<table id="customers" class="table table-bordered table-hover">

    <thead>

        <tr>

            <th>Customers</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>

    </thead>

    <tbody>
        @*@foreach (var customer in Model)
        {
            <tr>
                <td> <a href="@Url.Action("Edit","Customers",new { id = customer.Id})">@customer.Name</a> </td>
                <td> @customer.MembershipType.Name </td>
                <td>
                    <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
                </td>
            </tr>
        }*@

    </tbody>

</table>
<br />
<a href="@Url.Action("New","Customers")">Add</a>

@*<input type="button" onclick="testData();" value="TESTING an API CALL jquery" />
<input type="button" onclick="testData2();" value="TESTING an API CALL JS" />
<input type="button" onclick="testaSimpleAPI();" value="TESTING a simple API" />
<input type="button" onclick="testAnotherSimpleAPI();" value="TESTING another simple API" />*@

@section scripts
{


<script>
    $(document).ready(function () {

       
        var table = $("#customers").DataTable({
            ajax: {
                url: "/api/customers",
                dataSrc:""
            },
            columns: [
                {
                    data: "name",
                    render:function(data,type,customer) {
                        return "<a href='/customers/edit/" + customer.id + "' >" + customer.name + "</a>";
                    }
                },
                {
                    data:"membershipType.name"
                },
                {
                    data: "id",
                    render: function (data)
                    {
                        return "<button class='btn-link js-delete' data-customer-id="+data+">Delete</button>";
                    }
                }
            ]
        });

        $("#customers").on("click", ".js-delete", function () {
            var btn = $(this);
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    $.ajax({
                        url: "/api/customers/" + btn.attr("data-customer-id"),
                        method: "DELETE",
                        success: function () {
                            table.row(btn.parents("tr")).remove().draw(); // this will delete the datatable from the internal datatable table
                            //btn.parents("tr").remove(); // this way wont delete it from the datatable internal mem.. if u delete and search it will still show up... 
                        }
                    });
                }
            });
        });
    });
</script>



    <script>

        function testAnotherSimpleAPI() {
            var testData = $.get("/api/anotherSimpleAPI/", function (data) {
                console.log(data);

            });
        }

        function testData()
        {
                var testData = $.get("/api/movies/", function (data) {
                    console.log(data);

            });
        }

        function testData2() {
            //var xhttp = new XMLHttpRequest();
            //xhttp.open("GET", "/api/movies/", true);
            //xhttp.setRequestHeader("Content-type", "application/json");
            //xhttp.send();
            //var response = JSON.parse(xhttp.responseText);
            //console.log(response);

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var response = JSON.parse(this.responseText);
                    console.log(response);
                }
            };
            xhttp.open("GET", "/api/movies/", true);
            xhttp.send();

        }

        function testaSimpleAPI() {
            var res = $.get("/api/aSimpleAPI/", function (data) {
                console.log(data);

            });
        }

    </script>


}